node_modules
package.json
package-lock.json
.env
data.jsonl
hgh.js
investments.db
market_prices.db
market_prices2.db
users.db
verifiedUsers.json
hatsunemiku2
MMSAI
mmsai2
model.json
commands/token.js
commands/data.jsonl
commands/model.json
commands/espionage.js
commands/serverchannels.js
commands/servercount.js
commands/serverinfo.js
commands/wire.js
freewill.json
freewillreact.json